
@{
    Layout = null;
}

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Parser - ASP.NET MVC Course Project</h5>
                <p class="grey-text text-lighten-4">Real time 
                    <a class="grey-text text-lighten-3" href="http://www.swtor.com/" target="_blank">SW:TOR</a> 
                    combat log parsing web app.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/shakuu/Parser" target="_blank">Parser @@ GitHub</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/shakuu" target="_blank">Hristo Todorov @@ GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © @DateTime.UtcNow.Year Parser
            @*<a class="grey-text text-lighten-4 right" href="#!">More Links</a>*@
        </div>
    </div>
</footer>

