@model Parser.Data.ViewModels.Administration.AdministrationIndexViewModel
@{
    ViewBag.Title = "Administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color: yellowgreen; text-align:center;">Administration</h1>

@using (Ajax.BeginForm("UpdateLogEntries", null, new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "log-entries"
}, new { id = "update-log-entries-form" }))
{
    @Html.AntiForgeryToken()

    @Html.EnumDropDownListFor(m => m.MessageType, new { id = "dropdown-message-type" })
    @Html.EnumDropDownListFor(m => m.PeriodType, new { id = "dropdown-period-type" })
}

<div class="well" id="log-entries">

    @Html.Action("DisplayLogEntries")

</div>