@model Parser.Data.ViewModels.Leaderboard.LeaderboardViewModel

@{
    ViewBag.Title = "Damage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Damage Leaderboard</h1>

<div id="damage-done-models">
    @Html.Partial("_DamageAjaxFormPartial", @Model)
</div>

@section Styles
{
    @Styles.Render("~/Content/leaderboard-css")
}

@section Scripts
{
    @Scripts.Render("~/bundles/infinite-scroll-event")
}
