@model Parser.Data.ViewModels.Leaderboard.DamageViewModel

@{
    ViewBag.Title = "Top Dps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Damage Leaderboard</h2>

<div id="damage-done-models">
    @Html.Partial("_DamageDonePerSecondViewModelsPartial", @Model)
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/damage")
}
