@model Parser.Data.ViewModels.Leaderboard.HealingViewModel
@{
    ViewBag.Title = "Healing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Top Hps</h2>

<div id="healing-done-models">
    @Html.Partial("_DamageDonePerSecondViewModelsPartial", @Model)
</div>

@section Styles
{
    @Styles.Render("~/Content/leaderboard-css")
}

@section Scripts
{
    @Scripts.Render("~/bundles/damage")
}
