h2 {
    color: yellowgreen;
}

.row {
    .damage-container {
        background-color: #333333;
        /*border: 5px solid #FFAB40;*/
        border: 5px solid #E69F5E;
        border-radius: 25px;

        .inner-container {
            padding: 15px;
            width: 330px;
            float: left;
        }
    }
}
