h2, h3 {
  color: yellowgreen; }

.row .damage-container {
  background-color: #333333;
  /*border: 5px solid #FFAB40;*/
  border: 5px solid #E69F5E;
  border-radius: 25px; }
  .row .damage-container .inner-container {
    padding: 15px;
    width: 330px; }
    .row .damage-container .inner-container .card .card-action {
      font-size: 17px; }
  .row .damage-container .outter-container {
    padding: 15px; }

