@{
    ViewBag.Title = "Parser";
}

<div class="jumbotron" style="text-align:center;">
    <h1>Parser</h1>
    @Html.ActionLink("Download Client", "Download", null, new { @class = "waves-effect waves-light btn" })
</div>

@section Styles
{
    @Styles.Render("~/Content/home-css")
}